@media (max-width: 320px){

.m_vw .feature { padding-top: 42px;  }
.m_vw .feature .slider_wrap .slider_cont{ padding-top: 42px;}

.m_vw .header_wrap { height: 42px; }
.pc.m_vw .wrap_w{ overflow-y:hidden;}
.m_vw .header_wrap .mobile_btn { top: 15px; left: 12px; width: 19px; }

.m_vw .header_wrap .sns_wrap { padding: 15px 12px 0 0;  }
.m_vw .header_wrap .sns_wrap a.speaker {  width: 19px; margin-top: -1px; }

.m_vw .header_wrap .logo { margin-left: -44px; padding: 10px 0 0 0; }

.m_vw .header_wrap .mobile_menu_wrap .menu_top { padding: 14px 12px 0 12px; height: 43px; }
.m_vw .header_wrap .mobile_menu_wrap .menu_top .inner { padding-bottom: 12px; }
.m_vw .header_wrap .mobile_menu_wrap .menu_top .menu_close_btn { width: 15px; }
.m_vw .header_wrap .mobile_menu_wrap .menu_top .menu_logo { width: 88px; margin-left: -44px; margin-top: -3px; }

.m_vw .header_wrap .mobile_menu_wrap .menu_middle { margin-top: -140px; }
.m_vw .header_wrap .mobile_menu_wrap .menu_middle ul li {  margin-top: 36px; }
.m_vw .header_wrap .mobile_menu_wrap .menu_middle ul li a { font-size: 15px; letter-spacing: 3px; }
.m_vw .header_wrap .mobile_menu_wrap .menu_middle ul li a .menu_txt_img img { width: 83px; }


.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .hr_btn a { font-size: 15px; line-height: 41px; }

.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .lg_btn { margin-top: 1px; }
.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .lg_btn ul li { background-size: 2px 12px; padding: 0; box-sizing: border-box; width: 25%; }
.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .lg_btn ul li a { font-size: 15px; line-height: 41px;  }
.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .lg_btn ul li:nth-child(1) a, .m_vw .header_wrap .mobile_menu_wrap .menu_bottom .lg_btn ul li:nth-child(4) a {  font-size: 13px; }
.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .lg_btn ul li:nth-child(1) { padding: 0; }
.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .lg_btn ul li:nth-child(2) { padding: 0;  }
.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .lg_btn ul li:nth-child(3) { padding: 0; }
.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .lg_btn ul li:nth-child(4) {  padding: 0; }

.m_vw .header_wrap .mobile_menu_wrap .menu_bottom .cr_area { font-size: 10px; line-height: 24px;  }


/*indicator*/
.m_vw .indicator_wrap { top: 42px; padding: 0 12px; }

/*loading*/
.m_vw .loading_wrap .loading_txt { font-size: 32px; margin-top: -29px; }
/*interection*/
.m_vw .inter_cont .sun img{ width: 447px; margin-left: -225px; margin-top: -191px; }

.m_vw .inter_cont .earth img { margin: -145px 0 0 -161px; width: 322px; transform: scale(10.0) translate(-163px,186px); -webkit-transform: scale(10.0) translate(-163px,186px); }

/*Feature*/
.m_vw .feature .desc {  font-size: 12px; line-height: 15px;  }
.m_vw .feature .title { font-size: 29px; }
.m_vw .feature .mobile_txt_btn { width: 25px; }
.m_vw .feature .txt .desc.use_exp p { margin-top: 25px; }

.m_vw .movie_progress { margin-left: 138px; margin-top: -167px; }


/*Feature*/
.m_vw .feature .desc { font-size: 12px !important; line-height: 15px !important; }
.m_vw .feature .title { font-size: 29px; line-height: 30px; }
.m_vw .feature .mobile_txt_btn { width: 25px; }
.m_vw .feature .txt .desc.use_exp p { margin-top: 25px; padding: 0 18px; }

.m_vw .movie_progress { margin-left: 138px; }
.m_vw .movie_progress .bg_line { width: 3px; height: 164px; }
.m_vw .movie_progress .movie_clip { width: 8px; height: 8px; margin-left: -2px; }
.m_vw .movie_progress .progress_ico {  width: 22px; height: 22px; margin-left: -11px; margin-top: -176px; }
.m_vw .movie_progress .progress_time { font-size: 12px;  margin-left: -13px; margin-top: 95px; }
.m_vw .movie_progress .control_btn { width: 11px; height: 13px;  margin-left: -5px; margin-top: 117px; }

.m_vw .caption_w .c_circle { width: 230px; height: 230px; }
.m_vw .caption_w .c_circle .caption p { font-size: 12px; line-height: 15px; }
.m_vw .caption_w .c_circle .caption p.c_num { font-size: 12px; line-height: 18px; }

.m_vw .f1_1 .obj_wrap .obj { width: 46px; }
.m_vw .f1_1 .obj_wrap .obj:nth-child(1) { top: 53px; margin-left: -160px; }
.m_vw .f1_1 .obj_wrap .obj:nth-child(2) { top: 30px; margin-left: 33px; }

.m_vw .f1_1 .txt .title{ margin-top: -6px;}
.m_vw .f1_1 .txt .title .t_title { font-size: 12px; letter-spacing: 3px; }
.m_vw .f1_1 .txt .title .b_title { font-size: 43px; margin-top: 5px; letter-spacing: 5px;  }
.m_vw .f1_1 .txt .desc { width: 274px; margin-top: 19px;  }

.m_vw .f1_2 .txt .title { margin-top: -148px;  }
.m_vw .f1_2 .txt .title .b_title { font-size: 15px; margin-top: 2px; }
.m_vw .f1_2 .txt .desc { margin-top: 122px; }

.m_vw .graph_obj .obj_graph .val .dot { width: 3px; height: 3px; }
.m_vw .graph_obj .obj_graph .val .num { font-size: 12px;  margin-top: 8px; }
.m_vw .graph_obj .obj_graph .val .val_txt { font-size: 9px; margin-top: 2px; }
.m_vw .graph_obj .obj_graph .line1 { width: 74px;  margin-top: 379px; margin-left: -320px;  }
.m_vw .graph_obj .obj_graph .line2 { width: 265px;  margin-top: 330px; margin-left: -265px;  }
.m_vw .graph_obj .obj_graph .line3 { width: 590px;  margin-top: 168px; margin-left: -56px;  }
.m_vw .graph_obj .obj_graph .val1 { margin-left: -287px;  } 
.m_vw .graph_obj .obj_graph .val2 { margin-left: -79px; } 
.m_vw .graph_obj .obj_graph .val3 { margin-left: 224px;  }
.m_vw .graph_obj .obj_graph .val3 .num { font-size: 15px; margin-top: 6px;  }
.m_vw .graph_obj .obj_graph .val3 .num span { font-size: 9px; }

.m_vw .graph_obj .year .year_val { font-size: 12px; margin-top: -58px; margin-left: -12px; }

.m_vw .f2_1 .txt .title { font-size: 43px; line-height: 40px; }
.m_vw .f2_1 .txt .desc { width: 278px; margin-top: 15px; }

.m_vw .f2_2 .txt .title {  margin-top: -176px; }
.m_vw .f2_2 .txt .desc {margin-top: 148px;  }
.m_vw .f2_2 .txt .mid_txt { margin-top: -72px; }
.m_vw .f2_2 .txt .mid_txt.midText2{ transform:translate(-89px,0vw) scale(0.7);}
.m_vw .f2_2 .txt .mid_txt .t_txt { font-size: 15px;  }
.m_vw .f2_2 .txt .mid_txt .m_txt { font-size: 148px;  }
.m_vw .f2_2 .txt .mid_txt .b_txt { font-size: 15px; line-height: 11px;  }

.m_vw .f2_4_line { /*width: 320px;*/ margin-left: -27px;  }
.m_vw .f2_4 .obj .year { font-size: 53px; padding-right: 19px; background-size: 8px auto;}

.m_vw .f2_4 .obj .year_txt { font-size: 11px; line-height: 13px; width: 148px; margin-top: -22px; margin-left: 63px; }
.m_vw .f2_4 .obj2 .year_txt { margin-top: -14px; }
.m_vw .f2_4 .obj .year_txt p { padding-left: 4px; text-shadow: -0.5px -0.5px 1.5px rgba(0, 0, 0, 0.3); }
.m_vw .f2_4 .obj .year_txt span { font-size: 11px; }
.m_vw .f2_4 .obj1 { margin-left: -133px; margin-top: -130px; }
.m_vw .f2_4 .obj2 { margin-left: -133px; margin-top: -27px; }
.m_vw .f2_4 .obj2 .year { font-size: 53px;   }
.m_vw .f2_4 .obj3 { margin-left: -133px; margin-top: 76px; }
.m_vw .f2_4 .obj3 .year { font-size: 53px;  }

.m_vw .feature .txt_qcell img { width: 45px; }
.m_vw .feature .txt_hanwha img { width: 43px; }
.m_vw .feature .txt_hanwha_b img { width: 43px; }
.m_vw .feature .txt_hanwhaQcell_de img { width: 91px; }
.m_vw .feature .txt_hanwhaQcell_bold img { width: 106px; }

.m_vw .f3_2 .txt { margin-top: -192px;  }
.m_vw .f3_2 .txt .title { line-height: 27px; }
.m_vw .f3_2 .txt .desc { margin-top: 7px; }
.m_vw .f3_2 .obj { margin-left: -44px; margin-top: -86px; }
.m_vw .f3_2 .obj2 { margin-top: 67px; }
.m_vw .f3_2 .obj .obj_inner > div { width: 110px; }
.m_vw .f3_2 .obj .obj_inner .panel_obj1 { margin-top: -41px; margin-left: -73px; }
.m_vw .f3_2 .obj .obj_inner .panel_obj2 { margin-top: -50px; margin-left: -65px; }

.m_vw .f3_2 .obj .obj_inner .obj_txt { font-size: 12px; line-height: 11px; margin-left: -198px; }
.m_vw .f3_2 .obj .obj_inner .obj_txt1 { margin-top: -37px; }
.m_vw .f3_2 .obj .obj_inner .obj_txt2 { margin-top: -6px; }
.m_vw .f3_2 .obj .obj_inner .obj_txt3 { margin-top: 26px; }
.m_vw .f3_2 .obj .obj_inner .obj_txt4 { margin-top: 46px; }
.m_vw .f3_2 .obj .obj_inner .obj_txt1 img { margin-top: 1px; margin-left: 7px; width: 69px; }
.m_vw .f3_2 .obj .obj_inner .obj_txt2 img { margin-top: -0.5px; margin-left: 0.3px; width: 60px; }
.m_vw .f3_2 .obj .obj_inner .obj_txt3 img { margin-top: -8px; margin-left: 12px; width: 134px; }
.m_vw .f3_2 .obj .obj_inner .obj_txt4 img { margin-top: -7px; margin-left: 12px; width: 57px; } 
.m_vw .f3_2 .obj .obj_inner .obj_title { font-size: 15px; margin-top: -14px; margin-left: 24px; }

.m_vw .f3_2 .obj2 .obj_inner .obj_txt3 img { width: 134px; margin-left: 11px; margin-top: -9px; }
.m_vw .f3_2 .obj2 .obj_inner .obj_txt4 img { width: 72px; margin-top: -9px; }
.m_vw .f3_2 .obj2 .obj_inner .obj_title { margin-left: 27px; margin-top: -13px; }

.m_vw .f3_2 .obj1 .obj_inner .panel_obj1{transform:translate(17px, -16px);}
.m_vw .f3_2 .obj1 .obj_inner .panel_obj2{transform:translate(8px, -8px);}

.m_vw .f3_2 .obj2 .obj_inner .panel_obj2{transform:translate(9px, -8px);}


.m_vw .f3_2 .obj1 .obj_inner .panel_obj4 { width: 94px; margin-left: -25px; margin-top: -59px; }
.m_vw .f3_2 .obj2 .obj_inner .panel_obj4 { width: 108px; margin-left: -41px; margin-top: -57px; }





.m_vw .f3_3 .txt .title {line-height: 27px; margin-top: -84px;  }
.m_vw .f3_3 .f_ico_wrap {  margin-top: 71px;  padding: 0 15px;  }
.m_vw .f3_3 .f_ico_wrap .ico > img { width: 47px; }
.m_vw .f3_3 .f_ico_wrap .ico p { font-size: 12px; margin-top: 4px; }
.m_vw .f3_3 .f_ico_wrap .ico a {  width: 25px; margin-top: 6px; }

.m_vw .f3_3 .slider_wrap .slider_cont.cont1 .obj_wrap { margin-left: -142px; margin-top: 2px; width: 289px; }
.m_vw .f3_3 .slider_wrap .slider_cont.cont2 .slide_txt .title { padding: 0 47px;}
.m_vw .f3_3 .slider_wrap .slider_cont.cont2 .slide_txt .desc { width: 264px;}
.m_vw .f3_3 .slider_wrap .slider_cont.cont2 .obj_wrap { margin-left: -139px; margin-top: 23px; width: 259px; }
.m_vw .f3_3 .slider_wrap .slider_cont.cont3 .obj_wrap { margin-left: -156px; margin-top: 16px; width: 314px; }
.m_vw .f3_3 .slider_wrap .slider_cont.cont4 .slide_txt .desc { width: 276px;}
.m_vw .f3_3 .slider_wrap .slider_cont.cont4 .obj_wrap { margin-left: -156px; margin-top: 29px; width: 311px;  }

.m_vw .feature .slider_wrap .slider_cont .slide_txt { margin-top: -131px; }
.m_vw .feature .slider_wrap .slider_cont .slide_txt .title { font-size: 29px; line-height: 27px; }
.m_vw .feature .slider_wrap .slider_cont .slide_txt .desc { width: 276px; margin-top: 15px; }


.m_vw .feature .slider_wrap .btn_wrap .close {  width: 34px; margin-left: -17px; margin-top: -170px; }

.m_vw .feature .slider_wrap .btn_wrap .carousel_wrap { bottom: 17px; }

.m_vw .f3_4 .f_indi_wrap { top: 16px;  }
.m_vw .f3_4 .f_indi_wrap ul li { padding: 0 8px; }
.m_vw .f3_4 .f_indi_wrap ul li a { font-size: 16px; transform:translate(0px, -9px); } 
.m_vw .f3_4 .f_indi_wrap ul li a.active { padding-bottom: 8px; background-size: 9px 4px; }
.pc.m_vw .f3_4 .f_indi_wrap ul li a:hover { padding-bottom: 2.59vw; background-size: 9px 4px; }

.m_vw .f3_4 .part_wrap { margin-top: -106px; }

.m_vw .f3_4 .part_wrap .part1 .obj { margin-top: 92px; }
.m_vw .f3_4 .part_wrap .part1 .txt .desc { width: 274px; }
.m_vw .f3_4 .part_wrap .part2 .obj { margin-top: 69px; }
.m_vw .f3_4 .part_wrap .part3 .obj { margin-top: 68px; }
.m_vw .f3_4 .part_wrap .part3 .txt .desc { width: 258px; }
.m_vw .f3_4 .part_wrap .part4 .obj { margin-top: 75px; }
.m_vw .f3_4 .part_wrap .part4 .txt .desc { width: 258px; margin-top: 14px; }
.m_vw .f3_4 .part_wrap .part2 .txt .desc{ width: 258px; }

.m_vw .f3_4 .part_wrap .obj_title1 { margin-top: 145px; margin-left: -126px; width: 93px; }
.m_vw .f3_4 .part_wrap .obj_title2 { margin-top: 145px; margin-left: 59px; font-size: 12px; }

.m_vw .f3_4 .part_wrap .obj_line { margin-top: 151px; }

.m_vw .f3_4 .txt .title { line-height: 27px; }
.m_vw .f3_4 .txt .desc { width: 258px; margin-top: 5px; }

.m_vw .f3_5 .txt .title { line-height: 27px; padding: 0 47px; margin-top: 17px; }
.m_vw .f3_5 .txt .desc { width: 284px; margin-top: 15px; }
.m_vw .f3_5 .txt .ico_wrap { margin-top: 37px; }
.m_vw .f3_5 .txt .ico { width: 64px; margin: 0 3px; }
.m_vw .f3_5 .txt .ico.ico1 img { width: 39px; }
.m_vw .f3_5 .txt .ico.ico2 img { width: 48px; }
.m_vw .f3_5 .txt .ico.ico3 img { width: 33px; }
.m_vw .f3_5 .txt .ico.ico4 img { width: 38px; }
.m_vw .f3_5 .txt .ico p { font-size: 12px; margin-top: 9px; } 

.m_vw .f3_6 .box_wrap .box .txt { padding-top: 20px; }

.m_vw .f3_6 .box_wrap .box .txt .title { font-size: 29px; line-height: 27px; }
.m_vw .f3_6 .box_wrap .box .txt .desc { margin-top: 8px; padding: 0 9px; }
.m_vw .f3_6 .box_wrap .box_sec2 .box .txt .desc { margin-top: 14px; padding: 0 18px; }

.m_vw .f3_6 .box_wrap .btn { width: 25px; margin-top: -12px; margin-left: -12px; }

.m_vw .f3_6 .box_wrap .box_sec1 .box:nth-child(2) .obj_wrap .obj {margin-top: -52px; }
.m_vw .f3_6 .box_wrap .box_sec2 .box:nth-child(2) .obj_wrap .obj { margin-top: -52px; }

.m_vw .f3_6 .slider_wrap .slider_cont.cont1 .obj_wrap { margin-top: 13px; }
.m_vw .f3_6 .slider_wrap .slider_cont.cont1 .slide_txt .desc { margin-top: 9px; }
.m_vw .f3_6 .slider_wrap .slider_cont.cont2 .obj_wrap { margin-top: -26px; }


.m_vw .f3_10 { padding-top: 0; }
.m_vw .f3_7 .box_wrap .box .obj_wrap .obj { margin-top: -105px;  }

.m_vw .f3_7 .box_wrap .box .txt { padding: 56px 0 0; }
.m_vw .f3_7 .box_wrap .box_sec1 .box {  }
.m_vw .f3_7 .box_wrap .box_sec1 .box:nth-child(1) .txt { padding: 0 9px;  }

.m_vw .f3_7 .box_wrap .box .txt .title { font-size: 29px; line-height: 27px; }
.m_vw .f3_7 .box_wrap .box .txt .desc { margin-top: 13px; padding: 0 25px; }
.m_vw .f3_7 .box_wrap .box_sec2 .box .txt .desc { margin-top: 14px; padding: 0 27px; }

.m_vw .f3_7 .box_wrap .btn { width: 25px; margin-top: -12px; margin-left: -12px; }

.m_vw .f3_7 .slider_wrap .slider_cont.cont1 .obj_wrap { margin-top: 115px; }
.m_vw .f3_7 .slider_wrap .slider_cont.cont2 .obj_wrap { margin-top: 77px; }

.m_vw .f3_75 .txt {margin-top: -98px; background-size: 28px; padding: 27px 0; }
.m_vw .f3_75 .txt .desc { margin-top: 7px; padding: 0 16px; }
.m_vw .f3_75 .obj2 { margin-top: -182px; margin-left: 13px; }
.m_vw .f3_75 .obj3 { margin-top: 126px; margin-left: -106px; }
.m_vw .f3_75 .side_obj .obj_txt .t_txt { font-size: 12px; }
.m_vw .f3_75 .side_obj .obj_txt .b_txt { font-size: 53px; }
.m_vw .f3_75 .side_obj .obj_txt .b_txt span { font-size: 18px; }
.m_vw .f3_75 .obj2 .obj_txt .t_txt { padding-right: 12px; }
.m_vw .f3_75 .obj3 .obj_txt .b_txt { margin-right: -20px; }
.m_vw .f3_75 .obj3 .obj_txt .t_txt { margin-left: -6px; }

.m_vw .f3_75 .side_obj .obj_line .line { width: 578px;  }
.m_vw .f3_75 .obj2 .obj_line { left: -15px; margin-top: -6px; } 
.m_vw .f3_75 .obj2 .obj_line .line { right: 1px; }
.m_vw .f3_75 .obj3 .obj_line { right: -28px; margin-top: -6px; } 


.m_vw .f3_8 .txt { margin-top: -234px; }
.m_vw .f3_8 .txt .title { line-height: 27px;}
.m_vw .f3_8 .txt .desc { width: 267px; margin: 15px auto 0 auto; }
.m_vw .f3_8 .obj_wrap .obj1 { margin-left: -119px; width: 238px; margin-top: 5px; }
.m_vw .f3_8 .obj_wrap .obj2 { margin-left: -120px; width: 238px; margin-top: -59px; }

/*

.m_vw .f3_8 .txt {  margin-top: -170px; }
.m_vw .f3_8 .txt .title { line-height: 27px;}
.m_vw .f3_8 .txt .desc { width: 267px; margin: 15px auto 0 auto; }
.m_vw .f3_8 .obj_wrap .obj1 { margin-left: -119px; width: 238px; margin-top: 69px;  }
.m_vw .f3_8 .obj_wrap .obj2 { margin-top: 5px; margin-left: -120px; width: 238px; }
*/


.m_vw .f3_10 .txt { padding: 18px 25px 18px 27px;  background-size: 28px; }
.m_vw .f3_10 .txt .title .t_title { font-size: 12px; }
.m_vw .f3_10 .txt .title .b_title { font-size: 24px; line-height: 21px; margin-top: 6px; } 
.m_vw .f3_10 .txt .desc { margin-top: 5px; padding-left: 1px;  }
.m_vw .f3_10 .txt .desc .t_desc { font-size: 12px; }
.m_vw .f3_10 .txt .desc .b_desc { margin-top: 10px; }
.m_vw .f3_10 .caption_w { padding-top: 42px; }

.m_vw .video_play_btn {width: 60px; height: 60px; margin-left: -30px; }

.m_vw .f3_11 .txt { margin-top: -184px; }
.m_vw .f3_11 .txt .title { font-size: 29px; line-height: 27px;}
.m_vw .f3_11 .txt .desc {  margin: 14px auto 0 auto; padding: 0 17px;  }

.m_vw .f3_11 .obj_wrap { margin-left: -104px; margin-top: 3px; transform: translate(1px, 47px); }
.m_vw .f3_11 .obj1 { width: 185px; }
.m_vw .f3_11 .obj2 { margin-left: -67px; margin-top: -60px; width: 124px; transform: translate(-20px, -28px); }
.m_vw .f3_11 .obj3 { margin-left: -67px; margin-top: -60px; width: 124px; transform: translate(-42px, -57px); }
.m_vw .f3_11 .obj4 { margin-left: -67px; margin-top: -60px; width: 124px; transform: translate(-63px, -84px); }
.m_vw .f3_11 .txt_img { margin-left: -48px; margin-top: -17px; width: 78px; transform: translate(-63px, -83px); }

.m_vw .f3_11 .obj1 .obj_txt { right: -62px; top: 37px; width: 99px; }
.m_vw .f3_11 .obj2 .obj_txt { right: -81px; top: 15px; width: 84px; }
.m_vw .f3_11 .obj3 .obj_txt { right: -94px; top: 10px; width: 98px; }
.m_vw .f3_11 .obj4 .obj_txt { right: -93px; top: 13px; width: 97px; }

.m_vw .f3_11 .m_txt_carousel { bottom: -24px; }

.m_vw .m_txt_carousel {  bottom: -26px; }
.m_vw .m_txt_carousel a { width: 6px; height: 6px;  margin: 0 5px; }

.m_vw .condition_w .obj_wrap { padding-top: 42px; }

.m_vw .condition_w .obj .ico {padding-left: 60px; }
.m_vw .condition_w .obj .ico p { font-size: 18px; line-height: 15px; }

.m_vw .condition_w .obj .ico img { margin-right: 25px; }
.m_vw .condition_w .obj > img { width: 533px;  margin-left: -267px; }



.m_vw .caption_w2.script_w { padding: 0 43px 0 26px; }
.m_vw .caption_w2.script_w p { font-size: 12px; line-height: 15px; }

.m_vw .caption_w2.movie_cap_w {  padding: 0 0 0 26px; margin-bottom: -36px; }
.pc.m_vw .caption_w2.movie_cap_w { margin-bottom: 22px; }
.m_vw .caption_w2 .movie_cap {  width: 141px;  padding: 10px 10px 8px 9px; }
.m_vw .caption_w2 .movie_cap ul li { font-size: 10px; line-height: 13px; padding-left: 6px; }
.m_vw .caption_w2 .movie_cap ul li span { font-size: 10px; line-height: 9px; padding-right: 4px; }
.m_vw .caption_w2 .movie_cap b { font-size: 10px; line-height: 13px; }



.m_vw .f4_1{ padding-top: 0; }
.m_vw .f4_1 .txt { padding: 0 25px 18px 27px; height: 50%; background-size: 28px;  }
.m_vw.device .f4_1 .txt { padding: 0 25px 18px 27px; height: 165px; background-size: 28px;  }
.m_vw .f4_1 .txt .title .t_title { font-size: 12px;  } 
.m_vw .f4_1 .txt .title .b_title {  font-size: 24px; line-height: 21px; margin-top: 6px; } 
.m_vw .f4_1 .txt .desc { margin-top: 5px; }
.m_vw .f4_1 .txt .desc .t_desc { font-size: 12px; }
.m_vw .f4_1 .txt .desc .b_desc { margin-top: 11px; }
.m_vw .f4_1 .m_txt_carousel { bottom: -32px; }
.m_vw .f4_1 .caption_w{ padding-top: 42px; }

.m_vw .f4_2 .txt {  }
.m_vw .f4_2 .txt .title { line-height: 27px; text-shadow: 0px 0px 6px rgba(39, 86, 115, 0.5);}

.m_vw .f4_3 .txt {  padding-left: 53px; }
.m_vw .f4_3 .txt .ico { width: 38px; }
.m_vw .f4_3 .txt .title { font-size: 21px; margin-top: 9px; text-shadow: 0px 0px 6px rgba(39, 86, 115, 0.5); }
.m_vw .f4_3 .txt .desc { font-size: 12px; line-height: 16px; margin-top: 5px; padding-right: 42px; text-shadow: 0px 0px 6px rgba(39, 86, 115, 0.5);}

.m_vw .f4_4 .txt { padding: 0 46px; }
.m_vw .f4_4 .txt .ico { margin: 0 1px; width: 57px; }
.m_vw .f4_4 .txt .title { font-size: 21px; margin-top: 9px; margin-top: 10px; text-shadow: 0px 0px 6px rgba(39, 86, 115, 0.5); }
.m_vw .f4_4 .txt .desc { font-size: 12px; line-height: 15px; margin-top: 7px; text-shadow: 0px 0px 6px rgba(39, 86, 115, 0.5);}
.m_vw .f4_4 .txt .desc p:last-child { margin-top: 16px; }

.m_vw .f4_5 .txt { padding: 0 46px;}
.m_vw .f4_5 .txt .ico { width: 36px; }
.m_vw .f4_5 .txt .title { font-size: 21px; margin-top: 9px; text-shadow: 0px 0px 6px rgba(39, 86, 115, 0.5);  }
.m_vw .f4_5 .txt .desc {font-size: 12px; line-height: 15px; margin-top: 6px; text-shadow: 0px 0px 6px rgba(39, 86, 115, 0.5);}
.m_vw .f4_5 .txt .desc p:last-child { margin-top: 16px; padding-right: 8px; }

.m_vw .f4_6 .txt { padding: 0 46px; }
.m_vw .f4_6 .txt .ico { width: 58px; }
.m_vw .f4_6 .txt .title { font-size: 21px; margin-top: 9px; text-shadow: 0px 0px 6px rgba(39, 86, 115, 0.5); }
.m_vw .f4_6 .txt .desc { font-size: 12px; line-height: 15px; margin-top: 7px; text-shadow: 0px 0px 6px rgba(39, 86, 115, 0.5);}

.m_vw .f5_1 .txt { margin-top: -174px; }
.m_vw .f5_1 .txt .title { line-height: 27px; padding: 0 11px;}
.m_vw .f5_1 .txt .desc {  margin-top: 13px; padding: 0 22px;}
.m_vw .f5_1 .ico_wrap { margin-top: 69px; }
.m_vw .f5_1 .ico_wrap.type1 { margin-left: -107px; transform:translate(-15px, 0vw); width: 71px;}
.m_vw .f5_1 .ico_wrap.type2 { margin-left: 37px; transform:translate(15px, 0vw); width: 70px;}

.m_vw .f5_2 .txt { width: 281px; margin-top: 59px; margin-left: -141px; } 
.m_vw .f5_2 .txt .title { font-size: 25px; line-height: 23px; }
.m_vw .f5_2 .txt .desc { margin-top: 14px; }
.m_vw .f5_2 .map_area {width: 645px; margin-left: -322px; margin-top: -186px;  } 

.m_vw .f5_2 .click_ico { width: 31px; height: 31px; }
.m_vw .f5_2 .click_ico span { width: 2px; height: 22px; margin-left: -1px; }
.m_vw .f5_2 .click_ico1 { margin-left: -297px; margin-top: -50px; }
.m_vw .f5_2 .click_ico2 { margin-left: -187px; margin-top: -66px; }
.m_vw .f5_2 .click_ico3 span { height: 10px; }
.m_vw .f5_2 .click_ico3 { margin-left: -33px; margin-top: -117px; }
.m_vw .f5_2 .click_ico3 span { height: 39px; }
.m_vw .f5_2 .click_ico4 { margin-left: -11px; margin-top: -87px; }
.m_vw .f5_2 .click_ico4 span { height: 10px; }
.m_vw .f5_2 .click_ico5 { margin-left: 202px; margin-top: -92px; }
.m_vw .f5_2 .click_ico5 span { height: 40px; }
.m_vw .f5_2 .click_ico6 { margin-left: 211px; margin-top: -56px; }
.m_vw .f5_2 .click_ico6 span { height: 10px; }

.m_vw .f5_2 .swipe_m { width: 51px; margin-left: -25px; margin-top: 21px; }

.m_vw .f5_2 .location_popup { margin-top: -132px; margin-left: -150px; width: 299px; }
.m_vw .f5_2 .location_popup .lo_popup_close { top: -46px; margin-left: -19px; width: 38px; height: 38px; }
.m_vw .f5_2 .location_popup .lo_txt { height: 129px; padding: 13px 6px 0 16px; }
.m_vw .f5_2 .location_popup .lo_txt .title { font-size: 17px; line-height: 19px;}
.m_vw .f5_2 .location_popup .lo_txt .desc { margin-top: 7px; }

.m_vw .f5_2 .location_popup .location.korea .lo_txt { height: 129px; }

.m_vw .f5_3 .txt { padding: 0 12px; }
.m_vw .f5_3 .txt .title { font-size: 34px; text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);}
.m_vw .f5_3 .txt .desc { margin-top: 14px;  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);  padding: 0 11px;  }
.m_vw .f5_3 .txt .desc .m_slide_1 { margin-top: 0; }
.m_vw .f5_3 .txt .btn_wrap { margin-top: 45px; }
.m_vw .f5_3 .txt .btn_wrap a { width: 102px; margin: 0 8px; }

/*indicator*/
.m_vw .m_scroll_img { bottom: 40px; margin-left: -6px; }
.m_vw .m_scroll_img img { width: 8px; }
.m_vw .m_scroll_img p { top: -15px; font-size: 12px; margin-left: -31px;  width: 62px; }

.m_vw .bg_cont .bg.dot_map img { width: 645px; margin-left: -322px; margin-top: -186px; transform: scale(1.3) translate(0vw,-22px); }

/*inter*/
.m_vw .inter_cont .panel .panel_obj { width: 215px; margin-left: -108px; margin-top: -162px; }

.m_vw .tile_cont .tile_cont_inner { background-size: 28px;  }


}